@using Sandbox
@using Sandbox.UI
@inherits PanelComponent

<div style="position: absolute; top: 0; left: 0; width: 400px; height: 150px; background-color: red;">
	<label style="color: white; font-size: 32px;">HUD VISIBLE</label>
</div>
