@using Sandbox
@using Sandbox.UI
@inherits PanelComponent

<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black;">
	<label style="color: white; font-size: 48px; position: absolute; top: 40%; left: 40%;">CHOISIR EQUIPE</label>
	<button style="position: absolute; top: 55%; left: 40%; background-color: red; color: white; font-size: 24px; padding: 10px 30px;"
	        onclick=@(() => SelectTeam( KobTeam.Red ))>ROUGE</button>
	<button style="position: absolute; top: 65%; left: 40%; background-color: blue; color: white; font-size: 24px; padding: 10px 30px;"
	        onclick=@(() => SelectTeam( KobTeam.Blue ))>BLEUE</button>
	<button style="position: absolute; top: 75%; left: 40%; background-color: green; color: white; font-size: 24px; padding: 10px 30px;"
	        onclick=@(() => SelectTeam( KobTeam.Green ))>VERTE</button>
</div>

@code {
	void SelectTeam( KobTeam team )
	{
		var selector = Scene.GetAllComponents<KobTeamSelector>().FirstOrDefault();
		selector?.ChooseTeam( team );
	}
}
